{%extends 'mainApp/homePage.html'%}

{% block content %}

<div class="row text-center">
  <div class="col-md-4"><h3 style="color: #ffffff;">&nbsp;</h3></div>
  <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4">&nbsp;</div>
</div>
<div class="row text-center">
  <div class="col-md-4"><h3 style="color: #ffffff;">&nbsp;</h3></div>
  <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4">&nbsp;</div>
</div>
<div class="row text-center">
  <div class="col-md-4"><h3 style="color: #ffffff;">&nbsp;</h3></div>
  <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4">&nbsp;</div>
</div>
<div class="row text-center">
  <div class="col-md-4"><h3 style="color: #ffffff;">&nbsp;</h3></div>
  <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4">&nbsp;</div>
</div>
<div class="row text-center">
  <div class="col-md-4"><h3 style="color: #ffffff;">&nbsp;</h3></div>
  <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4">&nbsp;</div>
</div>


  <div class="jumbotron jumbotron-fluid" style="background-color:transparent !important;">

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-5 text-left" ><h1 style="color: #ffffff;">{{random_password}} <h1/></div>
        <div class="col-md-2">&nbsp;<img src="https://sun9-38.userapi.com/c858120/v858120140/c011a/rD_PlaQleMo.jpg" width="45" height="45" alt="logo" />&nbsp;&nbsp;<img src="https://sun9-15.userapi.com/c858120/v858120140/c0134/fKlx4r6fDeU.jpg" width="45" height="45" alt="logo" /></button></div>
      <div class="col-md-3"></div>
    </div>
    <div class="container"><hr></div>
    <!-- <div class="row text-right">
      <div class="col-md-2"></div>
      <div class="col-md-4"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;<a style="color: #ffffff;" class="p-1"><img src="https://psv4.userapi.com/c848132/u350835884/docs/d14/1a07157b2171/delete_1.png?extra=T_-Vc-kHnKgHykwtw65KWZEUSBlLQ74UbxTV76EkKMKN6N2bbC4exlNS-kUczcMxAmX4MtkBq8EFHxrcGz5UaaZytjnRCJTbII7pe2XjQvzjn6o1VuuEZCFu4jhbItYJYIQmawgSZAvg_5VwUzm0fIwe6Q" width="15" height="15" alt="logo"/>&nbsp;&nbsp;Symbols</a>
      &nbsp;&nbsp;<a style="color: #ffffff;" class="p-1"><img src="https://psv4.userapi.com/c848132/u350835884/docs/d14/1a07157b2171/delete_1.png?extra=T_-Vc-kHnKgHykwtw65KWZEUSBlLQ74UbxTV76EkKMKN6N2bbC4exlNS-kUczcMxAmX4MtkBq8EFHxrcGz5UaaZytjnRCJTbII7pe2XjQvzjn6o1VuuEZCFu4jhbItYJYIQmawgSZAvg_5VwUzm0fIwe6Q" width="15" height="15" alt="logo"/>&nbsp;&nbsp;Digits</a>
      &nbsp;&nbsp;<a style="color: #ffffff;" class="p-1"><img src="https://psv4.userapi.com/c848132/u350835884/docs/d14/1a07157b2171/delete_1.png?extra=T_-Vc-kHnKgHykwtw65KWZEUSBlLQ74UbxTV76EkKMKN6N2bbC4exlNS-kUczcMxAmX4MtkBq8EFHxrcGz5UaaZytjnRCJTbII7pe2XjQvzjn6o1VuuEZCFu4jhbItYJYIQmawgSZAvg_5VwUzm0fIwe6Q" width="15" height="15" alt="logo"/>&nbsp;&nbsp;Letters</a>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3"></div>
      <div class="col-md-1"></div>
    </div> -->

    </div>

{% endblock %}
