<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="https://png.pngtree.com/svg/20170726/_password_371297.png">
  <title>{{Name}}</title>
  <style>
   hr {
    border: none; /* Убираем границу */
    background-color: white; /* Цвет линии */
    height: 14px; /* Толщина линии */
    width: 890px;

   }
  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </head>
 <body style="background: #000000">


  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-black">
    <img src="https://psv4.userapi.com/c848136/u350835884/docs/d16/7954f3385bbb/password_371297_1.png?extra=YbWSXerOJHuYbJ_Gw-8-ULIH-xlJMCDFuMHOBwvosrfJ3k1dp3mIHSAlfTrCxJGB5emuebfoErUgzZ7xnXey5SRnJkG9VRALfdV1IA65wfJ1Dg6PrE9g-2DT5wszNsDRv37asVRDHfRU-gkipSthlbBfdw" width="25" height="25" alt="logo" />
&nbsp; &nbsp;
    <h5 style="color: #ffffff;" class="my-0 mr-md-auto font-weight-normal">Password Generator</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a style="color: #ffffff;" class="p-2" href="{% url 'index' %}">Home</a>
      <a style="color: #ffffff;" class="p-2" href="{% url 'discussions' %}">Discussions</a>
      <a style="color: #ffffff;" class="p-2" href="{% url 'about' %}">About project</a>
      <a style="color: #ffffff;" class="p-2" href="https://github.com/python77777121/generate-password">Code on Github</a>
    </nav>
    </div>
    {% block content %}

    {% endblock %}

 </body>
</html>
